<div id="app-container">
  <header>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="isShowingMenu = !isShowingMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Ng Application</span>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <mat-drawer-container autosize>
    <mat-drawer mode="over" hasBackdrop="false" [(opened)]="isShowingMenu">
      <mat-selection-list
        #pages
        [multiple]="false"
        (selectionChange)="navigate(pages.selectedOptions.selected[0]?.value)"
      >
        <mat-list-option value="home" selected="true"> Home </mat-list-option
        ><mat-list-option value="draft"> Draft </mat-list-option
        ><mat-list-option value="tiktok"> TikTok </mat-list-option>
      </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content>
      <main>
        <router-outlet></router-outlet></main
    ></mat-drawer-content>
  </mat-drawer-container>
</div>
