main {
  padding: 1rem;
  flex-grow: 1;
}

#app-container {
  height: 100%;
  display: flex;
  flex-flow: column;
}

mat-drawer-container {
  flex-grow: 1;
  overflow: hidden;
}

mat-drawer-content {
  flex-grow: 1;
  display: flex;
}

mat-drawer {
  min-width: 16rem;
}
